---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("publicaciones")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 2);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">MSc. Miguel Jaeger Rodriguez Lazo</div>
    <div class="text-2xl py-3 font-bold">Ingeniero en Ciencias Informáticas | Máster en Informática Aplicada</div>
    <div class="py-2">
      <p class="text-justify py-5">
        Ingeniero de software y Máster en Informática Aplicada con más de 15 años de experiencia en el diseño y desarrollo de soluciones basadas en tecnologías web. 
        Autor publicado y conferencista. Ha simultaneado el magisterio con la producción de software en la Universidad de las Ciencias Informáticas en la Habana, Cuba. 
        Durante la carrera y los años de trabajo ha desempeñado varios roles que les han permitido desarrollar habilidades para el liderazgo, guía, asesoramiento y supervisión técnica a proyectos. 
        Cuenta con excelentes habilidades de análisis, aprendizaje rápido, muy organizado, creativo, altamente motivado, persistente y responsable. 
        Ha desarrollado habilidades para trabajar de manera independiente y como miembro de un equipo, de ahí que pueda manejar y adaptarse a los cambios. 
        Como profesor universitario cuenta con más de 15 años de experiencia en la impartición de asignaturas relacionadas con el perfil de informática tanto en pregrado como postgrado.</p>
    </div> 


  <div>
    <div class="text-3xl w-full font-bold mb-2">Últimos proyectos</div>
  </div>

 
  <HorizontalCard
  title="HUEX. Transporte y Distribución"
  img="/post_img.webp"
  desc="Sistema web para la gestión del transporte y distribución. Rol: Desarrollador y soporte. Tecnologías: Angular / Node /  PostgreSQL / HTML / CSS. Fecha: 2023"
  url="#"
  badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
title="NIU Locker"
img="/post_img.webp"
desc="Sistema web destinado para la gestión de servicios de Smart Lockers para entrega y recolección de paquetería que funcionan 24/7. Rol: Desarrollador. Tecnologías: Angular / Node  / MySQL / HTML / CSS. Fecha: 2023"
url="#"
badge="NEW"
/>


 
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Últimas publicaciones</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/publicaciones/"}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
