---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Postgrados impartidos" sideBarActiveItemID="postgrados-impartidos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Postgrados impartidos</div>
  </div>

  <HorizontalCard
    title="Desarrollo de Aplicaciones Web. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2022"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Evolución de la Web"
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2019"
    url="#"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Desarrollo de Aplicaciones Web"
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2016-2019"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Elementos de recuperación de información."
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2014-2015"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Desarrollo de Aplicaciones Web"
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2009-2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Desarrollo de Servicios Web con php"
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2008"
    url="#"
  />
  
</BaseLayout>
