---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Postgrados recibidos" sideBarActiveItemID="postgrados-recibidos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Postgrados recibidos</div>
  </div>

  <HorizontalCard
    title="La gestión del desarrollo local"
    img='/post_img.webp'
    desc="Escuela de invierno. Universidad de las Ciencias Informáticas. 2022"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="La moderación en los entornos virtuales de aprendizaje. "
    img="/post_img.webp"
    desc="Escuela de verano. Universidad de las Ciencias Informáticas. 2021"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Algoritmización con lenguajes de programación visual."
    img="/post_img.webp"
    desc="Escuela de verano. Universidad de las Ciencias Informáticas. 2021"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The use of ICT in distance education."
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2020"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Desarrollo de habilidades comunicativas académico-profesionales en inglés Nivel B-1."
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2020"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Evolución de la Web. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2016"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Introducción a Latex. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Seguridad, Riesgos y Auditoría Informática. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sistemas para la instrucción asistida por computadora."
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Calidad de Software. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Gestión del conocimiento en la gerencia. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Basic of Human Computer Interaction. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2013"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Estudios de mercadotecnia. "
    img="/post_img.webp"
    desc="Escuela de verano. Universidad de las Ciencias Informáticas. 2012"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Curso básico de Gestión de proyectos informáticos. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2011"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ingeniería de Software. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2011"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Arquitectura de computadoras y Redes. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2011"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Base de Datos Avanzado. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2011"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sistemas Informáticos Inteligentes. "
    img="/post_img.webp"
    desc="Maestría Informática Aplicada. Universidad de las Ciencias Informáticas. 2011"
    url="#"
  />
  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Metodología de la Investigación Científica. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2010"
    url="#"
  />
  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Docencia e Innovación Universitaria. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2008"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Intensive Training English Course. Basic Level."
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2008"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Introducción al software libre. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2008"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Técnicas de Negociación y Gestión de la Contratación. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2008"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Linux Básico. "
    img="/post_img.webp"
    desc="Universidad de las Ciencias Informáticas. 2008"
    url="#"
  />
  
</BaseLayout>
