---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Proyectos" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos desarrollados</div>
  </div>

  <HorizontalCard
  title="HUEX. Transporte y Distribución"
  img="/post_img.webp"
  desc="Sistema web para la gestión del transporte y distribución. 2023. Rol: Desarrollador y soporte. Tecnologías: Angular / Node /  PostgreSQL / HTML / CSS. Fecha: 2023"
  url="#"
  badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
title="NIU Locker"
img="/post_img.webp"
desc="Sistema web destinado para la gestión de servicios de Smart Lockers para entrega y recolección de paquetería que funcionan 24/7. 2022. Rol: Desarrollador. Tecnologías: Angular / Node  / MySQL / HTML / CSS. Fecha: 2023"
url="#"
badge="NEW"
/>
<div class="divider my-0"></div>

  <HorizontalCard
    title="Livall"
    img="/post_img.webp"
    desc="Sitio web destinado a la comercialización de cascos de seguridad en España 2022. Rol: Desarrollador y soporte. Tecnologías: PrestaShop / PHP / jQuery / MySQL / HTML / CSS. Fecha: 2022"
    url="https://livall.eu/es/"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Agencia de recarga"
    img="/post_img.webp"
    desc="Sitio web destinado a la comercialización de recargas telefónicas desde el exterior a Cuba. Rol: Desarrollador y soporte. Tecnología: Drupal / PHP / jQuery / MySQL / HTML / CSS. Fecha: 2018"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Horizontes Group"
    img="/post_img.webp"
    desc="Sistema multisitios. Rol: Desarrollador. Tecnología: Drupal / PHP / jQuery / MySQL / HTML / CSS. 2015 "
    url="#"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Cielo Mobile"
  img="/post_img.webp"
  desc="Sitio web destinado a la comercialización de recargas telefónicas alrededor del mundo. Rol: Desarrollador. Tecnología: Drupal / PHP / jQuery / MySQL / HTML / CSS. Fecha: 2015"
  url="#"
  badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="Qbayolo"
img="/post_img.webp"
desc="Sitio web destinado a la promoción de eventos en Cuba. Rol: Desarrollador. Tecnología: Drupal / PHP / jQuery / MySQL / HTML / CSS. Fecha: 2015"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="D'TIC, Centro virtual de recursos. (V2.0)"
img="/post_img.webp"
desc="Sitio web destinado a la gestión de información relacionadas con las TIC en el Ministerio de las Comunicaciones en Cuba. Rol: Desarrollador | Líder de proyecto | Analista principal. Tecnología: Drupal / PHP / jQuery / MySQL / HTML / CSS. Fecha: 2013"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="D'TIC, Centro virtual de recursos. (V1.0)"
img="/post_img.webp"
desc="Sitio web destinado a la gestión de información relacionadas con las TIC en el Ministerio de las Comunicaciones en Cuba. Rol: Desarrollador | Líder de proyecto | Analista principal. Tecnología: Drupal / PHP / jQuery / MySQL / HTML / CSS. Fecha: 2010"
url="#"
badge=""
/>
  
</BaseLayout>
