---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publicaciones" sideBarActiveItemID="publicaciones">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publicaciones</div>
  </div>

  <HorizontalCard
    title="Solución informática para la extracción de conocimiento del módulo resultados de la colección el navegante."
    img="/post_img.webp"
    desc="Rodriguez Lazo, Miguel (2021). ISBN: 978-84-18979-54-5. Computación para el desarrollo. XIV Congreso. Universidad Nacional de Ingeniería. Managua. Nicaragua"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="La Educación Superior en Cuba en tiempos de Covid 19, enfoque desde la Universidad de las Ciencias Informáticas."
    img="/post_img.webp"
    desc="Rodriguez Lazo, Miguel (2021). ISBN: 978-84-18979-54-5. Computación para el desarrollo. XIV Congreso. Universidad Nacional de Ingeniería. Managua. Nicaragua"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Empleo de servicios web en el desarrollo de sistemas multisitios con Drupal 7.x"
    img="/post_img.webp"
    desc="Rodriguez Lazo, Miguel (2020). ISBN: 978-84-18254-70-3. Computación para el desarrollo. XIV Congreso. Universidad Nacional de Ingeniería. Managua. Nicaragua"
    url="#"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Desarrollo de un sistema para gestionar el proceso de Vigilancia Tecnológica en la Universidad de las Ciencias Informáticas."
  img="/post_img.webp"
  desc="Rodriguez Lazo, Miguel (2013). ISBN: 978-959-261-405-5. VII Simposio de Ingeniería Industrial y Afines. Memorias de la 16 Convención. Científica de Ingeniería y Arquitectura. La Habana. Cuba"
  url="#"
  badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="SUBSISTEMA PARA LA GESTIÓN DE LA VIGILANCIA TECNOLÓGICA DE LA DIRECCIÓN DE INFORMACIÓN EN LA UCI V2.0"
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2013). ISBN: 978-959-16-1787-3. Ponencia. XII Conferencia Internacional de Ciencias Económicas y Empresariales. Camagüey. Cuba"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="Actualízate, Sistema de sindicación RSS, de canales de la Universidad de las Ciencias Informáticas, nacionales e internacionales."
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012). ISBN: 978-959-286-019-3. Memorias. II Taller de sistemas de gestión de la información y el conocimiento. Conferencia Científica de la Universidad de las Ciencias Informáticas. UCIENCIA 2012"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="DESARROLLO DE UN SISTEMA PARA GESTIONAR LA EL PROCESO DE VIGILANCIA TECNOLÓGICA EN LA UNIVERSIDAD DE LAS CIENCIAS INFORMÁTICAS."
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012).ISBN: 978-959-286-019-3. Memorias. II Taller de sistemas de gestión de la información y el conocimiento. Conferencia Científica de la Universidad de las Ciencias Informáticas. UCIENCIA 2012"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="D’TIC DA SUS PRIMEROS PASOS HACIA LA WEB 2.0"
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012). ISBN: 978-959-286-019-3. Memorias. II Taller de sistemas de gestión de la información y el conocimiento. Conferencia Científica de la Universidad de las Ciencias Informáticas. UCIENCIA 2012"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="VIGITEC, Sistema para la Vigilancia Tecnológica en la Universidad de las Ciencias Informáticas"
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012). ISBN: 978-959-234-081-7. Ponencia. Interpress 2012. XII Congreso Internacional de Información, Info 2012. La Habana. Cuba"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="SUBSISTEMA PARA LA GESTIÓN DE LA VIGILANCIA TECNOLÓGICA DE LA DIRECCIÓN DE INFORMACIÓN EN LA UCI V2.0"
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012). ISBN: 978-959-16-1787-3. Ponencia. XII Conferencia Internacional de Ciencias Económicas y Empresariales. Camagüey. Cuba"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="Personalización del CMS Drupal para la creación de Centros Virtuales de Recursos"
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012). ISBN: 978-959-261-317-1. Ponencia. VI Taller de Informática Aplicada. 15 Convención Científica de Ingeniería y Arquitectura. La Habana. Cuba"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="D’TIC CENTRO VIRTUAL DE RECURSOS PARA PROFESIONALES DE LAS TIC V2.0."
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2012). ISBN: 978-959-286-019-3. Ponencia. II Taller de sistemas de gestión de la información y el conocimiento. Conferencia Científica de la Universidad de las Ciencias Informáticas. UCIENCIA 2012"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="Implementación de D’TIC, Centro Virtual de Recursos para profesionales de las TIC."
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2010).ISSN: 2076-9792. Ponencia. Novena semana tecnológica de FORTES. La Habana. Cuba"
url="#"
badge=""
/>
<div class="divider my-0"></div>
<HorizontalCard
title="D'TIC as services platform , D'TIC como plataforma de servicios."
img="/post_img.webp"
desc="Rodriguez Lazo, Miguel (2009). ISSN: 10249435.ACIMED. 2009; 20(6):258-264"
url="#"
badge=""
/>
  
</BaseLayout>