---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/mi-curriculum/">Inicio</a></li>
    <li><a class="py-3 text-base" id="cv" href="/mi-curriculum/curriculum">Curriculum</a></li>
    <li><a class="py-3 text-base" id="publicaciones" href="/mi-curriculum/publicaciones">Publicaciones</a></li>
    <li><a class="py-3 text-base" id="postgrados-impartidos" href="/mi-curriculum/postgrados-impartidos">Postgrados impartidos</a></li>
    <li><a class="py-3 text-base" id="postgrados-recibidos" href="/mi-curriculum/postgrados-recibidos">Postgrados recibidos</a></li>
    <li><a class="py-3 text-base" id="projects" href="/mi-curriculum/proyectos">Proyectos</a></li>
    <!-- <li><a class="py-3 text-base" id="store" href="/store">Store</a></li>
    <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li>-->
    
    <li>
        <a
            class="py-3 text-base"
            href="mailto:miguel.jaeger@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contactar</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
